<mat-toolbar color="accent" class="rounded-t-full h-2 mt-4"></mat-toolbar>
<div class="bg-white p-8 rounded-b">
  <h1>Lupa Password</h1>
  <form>
    <mat-list>
      <mat-list-item>
        <span
            class="p-2 hidden sm:block"
          >
          <mat-icon>mail</mat-icon>
        </span>
        <input
          class="auth-input"
          placeholder="Account Email"        
          matInput
        type="text">
      </mat-list-item>
    </mat-list>
    <span class="my-8">
      <p>
        Verifikasi reset password akan dikirim ke alamat email akun anda
      </p>
    </span>

    <div class="flex justify-center sm:justify-end mt-8">
      <button
        (click)="resetPassword()"
        class="w-full "
        mat-raised-button color="accent">
        Ganti Password
      </button>
    </div>
  </form>

  <mat-divider class="mt-8"></mat-divider>
  <span class="text-sky-600 my-4 flex justify-center">
    <a [routerLink]="['','auth','sign-in']">
      Kembali ke Sign-In
    </a>
  </span>
</div>
