<section class="grid grid-cols-2 gap-4
                md:grid-cols-3 2xl:grid-cols-4">
  <ng-container *ngFor="let tutorial of (tutorial$ | async)">
    <div class="mat-elevation-z4 
         max-h-[400px]"
    >
      <div 
        (click)="goToTutorial(tutorial.sys.id)"
        class="bg-black relative hover:cursor-pointer">
        <img
          class="
            h-[180px] w-full
            hover:opacity-80 ease-in duration-300 object-cover"
          [src]="tutorial.fields.banner.fields.file.url"
          alt="">
      </div>
      <div class="p-2">
        <h3 class="m-0"><b>{{ tutorial.fields.judul }}</b></h3>
        <button
          color="accent"
          class="mr-8"
          (click)="goToTutorial(tutorial.sys.id)"
          mat-stroked-button>Go To Tutorial</button>
        <button
          color="accent"
          mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
        
      </div>
    </div>
  </ng-container>
</section>
