<div class="health-detail-content">
    <h2 id="types">What are the different types of diabetes?</h2>
    <p>The most common types of diabetes are type 1, type 2, and gestational diabetes.
    </p>
    <h3>Type 1 diabetes </h3>
    <p>
        If you have type 1 diabetes, your body does not make insulin. Your immune system attacks and destroys the cells
        in your pancreas that make insulin. Type 1 diabetes is usually diagnosed in children and young adults, although
        it can appear at any age. People with type 1 diabetes need to take insulin every day to stay alive.
    </p>
    <h3>Type 2 diabetes</h3>
    <p>
        If you have type 2 diabetes, your body does not make or use insulin well. You can develop type 2 diabetes at any
        age, even during childhood. However, this type of diabetes occurs most often in middle-aged and older people.
        Type 2 is the most common type of diabetes. </p>
    <h3>
        Gestational diabetes </h3>
    <p>
        Gestational diabetes develops in some women when they are pregnant. Most of the time, this type of diabetes goes
        away after the baby is born. However, if you’ve had gestational diabetes, you have a greater chance of
        developing type 2 diabetes later in life. Sometimes diabetes diagnosed during pregnancy is actually type 2
        diabetes.
    </p>
    <h3>Other types of diabetes
    </h3>
    <p>Less common types include monogenic diabetes, which is an inherited form of diabetes, and cystic fibrosis-related
        diabetes External link.
    </p>
    <h2 id="common">How common is diabetes?</h2>
    <p>As of 2015, 30.3 million people in the United States, or 9.4 percent of the population, had diabetes. More than 1
        in 4 of them didn’t know they had the disease. Diabetes affects 1 in 4 people over the age of 65. About 90-95
        percent of cases in adults are type 2 diabetes.<sup>1</sup></p>
    <h2 id="morelikely">Who is more likely to develop type 2 diabetes?</h2>
    <p>You are more likely to develop type 2 diabetes if you are age 45 or older, have a family history of diabetes, or
        are overweight. Physical inactivity, race, and certain health problems such as high blood pressure also affect
        your chance of developing type 2 diabetes. You are also more likely to develop type 2 diabetes if you have
        prediabetes or had gestational diabetes when you were pregnant. Learn more about risk factors for type 2
        diabetes.
    </p>
    <h2 id="problems">What health problems can people with diabetes develop?</h2>
    <p>Over time, high blood glucose leads to problems such as</p>
    <ul>
        <li>heart disease</li>
        <li>stroke</li>
        <li>kidney disease</li>
        <li>eye problems</li>
        <li>dental disease</li>
        <li>nerve damage</li>
        <li>foot problems </li>
    </ul>
    <p>
        You can take steps to lower your chances of developing these diabetes-related health problems.
    </p>
    <h2>References</h2>

    <p>[1] Centers for Disease Control and Prevention. National diabetes statistics report, 2017. Centers for Disease
        Control and Prevention website.
        www.cdc.gov/diabetes/pdfs/data/statistics/national-diabetes-statistics-report.pdf External link <span
            class="file-size">(PDF, 1.3 MB)</span> <i title="PDF document" class="file-pdf"></i>. Updated July, 18 2017.
        Accessed August 1, 2017.</p>
</div>
