<section class="mx-0 xl:mx-40 md:mx-24 sm:mx-32">
  <mat-stepper #stepper color="accent" [orientation]="(isHandset$ | async) ? 'vertical' : 'horizontal'">
    <mat-step [stepControl]="userForm" errorMessage="Form belum valid" 
      state="userData">
      <ng-template matStepLabel>Data Diri</ng-template>
      <ng-template matStepContent>
        <mat-toolbar color="accent" class="rounded-t-full mt-4"></mat-toolbar>
        <div class="bg-slate-100 p-8 rounded-b">
          <h1>Form Data Diri</h1>
          <p>
            Dengan mengisi form ini anda menyetujui untuk membagikan data-data diri yang anda inputkan.
          </p>
        </div>

        <br>

        <form [formGroup]="userForm">
          <mat-toolbar color="accent" class="rounded-t-full"></mat-toolbar>
          <div class="flex flex-1 flex-col bg-slate-100 min-h-[50vh] p-4 sm:p-8 rounded-b">
            <h2>Data Diri</h2>
            <div class="mx-0 sm:mx-8">
              <mat-form-field color="accent" appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input placeholder="Ex. example@email.com"
                  formControlName="email"
                  matInput
                  type="email">
                <mat-hint>Must contains email pattern</mat-hint>
                <mat-error *ngIf="userForm.controls['email'].hasError('required')">Email is <strong>required</strong></mat-error>
                <mat-error *ngIf="userForm.controls['email'].hasError('email')">Email is <strong>not valid</strong></mat-error>
              </mat-form-field>


              <mat-form-field color="accent" appearance="fill" class="w-full">
                <mat-label>First Name</mat-label>
                <input placeholder="Ex. Raden Dwitama"
                  formControlName="first_name"
                  matInput
                  type="text">
                <mat-hint>Can be more than 1 word</mat-hint>
                <mat-error *ngIf="userForm.controls['first_name'].hasError('required')">Email is <strong>required</strong></mat-error>
              </mat-form-field>


              <mat-form-field color="accent" appearance="fill" class="w-full">
                <mat-label>Last Name</mat-label>
                <input placeholder="Ex. Baliano"
                  formControlName="last_name"
                  matInput
                  type="text">
                <mat-hint>Only one word</mat-hint>
                <mat-error *ngIf="userForm.controls['last_name'].hasError('required')">Email is <strong>required</strong></mat-error>
              </mat-form-field>

            </div>

            <div class="flex flex-0 w-full justify-end mt-16">
              <button
                (click)="stepper.reset()"
                type="button"
                color="accent"
                mat-stroked-button>
                  Reset
              </button>
              <button
                class="ml-2"
                matStepperNext
                type="button"
                color="accent"
                mat-flat-button>
                  Next
              </button>
            </div>
          </div>
        </form>
      </ng-template>
    </mat-step>

    <mat-step state="userMahasiswa" optional>
      <ng-template matStepLabel>Mahasiswa</ng-template>
      <ng-template matStepContent>
        <mat-toolbar color="accent" class="rounded-t-full mt-4"></mat-toolbar>
        <div class="bg-slate-100 p-8 rounded-b">
          <h1>Form Data Mahasiswa</h1>
          <p>
            Jika anda mahasiswa Universitas Udayana, mohon isi form berikut. Jika tidak, silakan lanjutkan ke langkah berikutnya
          </p>
        </div>

        <br>

        <form [formGroup]="mahasiswaForm">
          <mat-toolbar color="accent" class="rounded-t-full"></mat-toolbar>
          <div class="flex flex-1 flex-col bg-slate-100 min-h-[50vh] p-4 sm:p-8 rounded-b">
            <h2>Data Mahasiswa</h2>
            <div class="mx-0 sm:mx-8">

              <mat-form-field color="accent" appearance="fill" class="w-full">
                <mat-label>NIM</mat-label>
                <input placeholder="Ex. 2008561001"
                  formControlName="nim"
                  matInput
                  type="text">
                <mat-hint>Text berformat NIM</mat-hint>
                <mat-error *ngIf="mahasiswaForm.controls['nim'].hasError('required')">Email is <strong>required</strong></mat-error>
              </mat-form-field>


              <mat-form-field color="accent" appearance="fill" class="w-full">
                <mat-label>Universitas</mat-label>
                <input placeholder="Ex. Universitas Udayana"
                  formControlName="universitas"
                  matInput
                  type="text">
                <mat-hint>Only one word</mat-hint>
                <mat-error *ngIf="mahasiswaForm.controls['universitas'].hasError('required')">Email is <strong>required</strong></mat-error>
              </mat-form-field>

              <mat-form-field color="accent" appearance="fill" class="w-full">
                <mat-label>Fakultas</mat-label>
                <input placeholder="Ex. FMIPA"
                  formControlName="fakultas"
                  matInput
                  type="text">
                <mat-error *ngIf="mahasiswaForm.controls['fakultas'].hasError('required')">Email is <strong>required</strong></mat-error>
              </mat-form-field>

              <mat-form-field color="accent" appearance="fill" class="w-full">
                <mat-label>Prodi</mat-label>
                <input placeholder="Ex. Informatika"
                  formControlName="prodi"
                  matInput
                  type="text">
                <mat-error *ngIf="mahasiswaForm.controls['prodi'].hasError('required')">Email is <strong>required</strong></mat-error>
              </mat-form-field>
            </div>

            <div class="flex flex-0 w-full justify-end mt-16">
              <button
                matStepperPrevious
                type="button"
                color="accent"
                mat-stroked-button>
                  Prev
              </button>
              <button
                class="ml-2"
                matStepperNext
                type="button"
                color="accent"
                mat-flat-button>
                  Next
              </button>
            </div>
          </div>
        </form>
      </ng-template>
    </mat-step>

    <mat-step [stepControl]="userHealthDataForm" errorMessage="Form belum valid !" state="userHealthData">
      <ng-template matStepLabel>Rekam Kesehatan</ng-template>
      <ng-template matStepContent>

        <mat-toolbar color="accent" class="rounded-t-full mt-4"></mat-toolbar>
        <div class="bg-slate-100 p-8 rounded-b">
          <h1>Form Data Kesehatan</h1>
          <p>
            Dengan mengisi form ini, anda telah menyetujui untuk memberikan informasi anda kepada pengembang.
          </p>
        </div>

        <br>

        <form [formGroup]="userHealthDataForm">
          <mat-toolbar color="accent" class="rounded-t-full"></mat-toolbar>
          <div class="bg-slate-100 min-h-[75vh] p-8 rounded-b">
            <h2>Rekam Jejak Kesehatan</h2>
            <mat-form-field appearance="fill" color="accent" class="w-100">
              <mat-label position="fixed">Number of Times Pregnant</mat-label>
              <input placeholder="Input a number"
                matInput
                formControlName="number_of_pregnant"
                type="number" min="0" max="99">
              <mat-hint>Jumlah kehamilan yang pernah atau sedang dijalani</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" color="accent" class="w-100">
              <mat-label position="fixed">Plasma Glucose Concentration</mat-label>
              <input placeholder="Input a number"
                matInput
                formControlName="plasma_glucose_concentration"
                type="number" min="0" max="99">
              <mat-hint><i>Plasma Glucose Concentration</i> is a 2 hours in an oral glucose tolerance test</mat-hint>
            </mat-form-field>


            <mat-form-field appearance="fill" color="accent" class="w-100">
              <mat-label position="fixed">Diastolic Blood Preasure</mat-label>
              <input placeholder="Input a number"
                matInput
                formControlName="diastolic_blood_pressure"
                type="number" min="0" max="99">
              <span matSuffix>mm Hg</span>
              <mat-hint>WTF is This ?</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" color="accent" class="w-100">
              <mat-label position="fixed">Triceps Skin Fold Thikness</mat-label>
              <input placeholder="Input a number"
                matInput
                formControlName="triceps_skin_fold_thikness"
                type="number" min="0" max="99">
              <span matSuffix>mm</span>
              <mat-hint>Lingkar pinggang, kayaknya...</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" color="accent" class="w-100">
              <mat-label position="fixed">2-Hour Serum Insulin</mat-label>
              <input placeholder="Input a number"
                matInput
                formControlName="two_hour_serum_insulin"
                type="number" min="0" max="99">
              <span matSuffix>mu U/ml</span>
              <mat-hint>WTF is that ?</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" color="accent" class="w-100">
              <mat-label position="fixed">Diabetes Predigree Function</mat-label>
              <input placeholder="Input a number"
                matInput
                formControlName="diabetes_pedigree_function"
                type="number" min="0" max="99">
              <mat-hint>WTF is this ?</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" color="accent" class="w-100">
              <mat-label position="fixed">Age</mat-label>
              <input placeholder="Input a number"
                matInput
                formControlName="age"
                type="number" min="0" max="99">
              <mat-hint>Umur</mat-hint>
            </mat-form-field>

            <div class="flex flex-0 w-full justify-end mt-16">
              <button
                matStepperPrevious
                type="button"
                color="accent"
                mat-stroked-button>
                  Prev
              </button>
              <button
                [disabled]="!userForm.valid || !userHealthDataForm.valid"
                class="ml-2"
                (click)="diagnosisUser()"
                type="button"
                color="accent"
                mat-flat-button>
                  Diagnosis
              </button>
            </div>
          </div>
        </form>
      </ng-template>
    </mat-step>

    <mat-step state="diagnosisResult">
      <ng-template matStepLabel>Hasil</ng-template>
      <ng-template matStepContent>
        <mat-toolbar color="accent" class="rounded-t-full mt-4"></mat-toolbar>
        <div class="bg-slate-100 p-8 rounded-b">
          <h1>Selamat ! Anda tidak beresiko diabetes</h1>
          <p>
            Gula darah anda normal
          </p>
        </div>

      </ng-template>
    </mat-step>


    <!-- Icon overrides. -->
    <ng-template matStepperIcon="userData">
      <mat-icon>person</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="userMahasiswa">
      <mat-icon>school</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="userHealthData">
      <mat-icon>local_hospital</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="diagnosisResult">
      <mat-icon>list_alt</mat-icon>
    </ng-template>
    <!-- --->
  </mat-stepper>
</section>
