<h1>Aplikasi</h1>
<section class="grid grid-cols-2 gap-4
                md:grid-cols-3 
                2xl:grid-cols-4">
  <ng-container *ngFor="let aplikasi of (aplikasiList$ | async)">
    <div class="mat-elevation-z4 
         max-h-[400px]"
    >
      <div 
        (click)="goToProduct(aplikasi.fields.path)"
        class="bg-black relative hover:cursor-pointer">
        <img
          class="
            h-[180px] w-full
            hover:opacity-80 ease-in duration-300 object-cover"
          [src]="aplikasi.fields.banner.fields.file.url"
          alt="">
      </div>
      <div class="p-2">
        <h3 class="m-0"><b>{{ aplikasi.fields.judul }}</b></h3>
        <button
          color="accent"
          class="mr-8"
          (click)="goToProduct(aplikasi.fields.path)"
          mat-stroked-button>Go To App</button>
        <span class="inline-block">
          <button
            color="accent"
            (click)="aplikasi.fields.isFavorited = !aplikasi.fields.isFavorited"
            mat-icon-button>
            <mat-icon>
              {{ aplikasi.fields.isFavorited ? 'favorite' : 'favorite_outline' }}
            </mat-icon>
          </button>
          <button
            color="accent"
            mat-icon-button>
            <mat-icon>share</mat-icon>
          </button>
        </span>
        
      </div>
    </div>
  </ng-container>
</section>

<br>
<a class="flex flex-cols items-center my-2" 
  [routerLink]="['', 'tutorial']">
  <h1 class="mb-0 mr-2">Tutorial</h1>
  <mat-icon>link</mat-icon>
</a>
<app-tutorial-grid></app-tutorial-grid>
