<mat-toolbar color="accent" class="rounded-t-full h-2 mt-4"></mat-toolbar>
<div class="bg-white p-8 rounded-b">
  <h1>Sign In</h1>
  <form>
    <mat-list>
      <mat-list-item>
        <span
            class="p-2 hidden sm:block"
          >
          <mat-icon>person</mat-icon>
        </span>
        <input
          class="auth-input"
          placeholder="Email"        
          matInput
        type="text">
      </mat-list-item>

      <mat-list-item>
        <span
            class="p-2 hidden sm:block"
          >
          <mat-icon>lock</mat-icon>
        </span>
        <input
          #passwordInput
          class="auth-input"
          placeholder="Password"        
          matInput
        type="password">

        <button 
          (mousedown)="passwordInput.type = 'text'"
          (mouseup)="passwordInput.type = 'password'"
          mat-icon-button
          class="absolute right-4 text-slate-400">
          <mat-icon >remove_red_eye</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <div class="flex justify-center sm:justify-end mt-8">
      <button 
        (click)="signIn()"
        class="w-full "
        mat-raised-button color="accent">
        Sign In
      </button>
    </div>
  </form>
  
  <span class="text-sky-600 my-4 flex justify-center">
    <a [routerLink]="['','auth','forget-password']">
      Lupa password ?
    </a>
  </span>

  <span class="flex items-center mt-8">
    <mat-divider class="w-full"></mat-divider>
    <span class="px-4">
      OR
    </span> 
    <mat-divider class="w-full"></mat-divider>
  </span>

  <span class="flex justify-center my-4">
    Belum punya akun ?
    <a
      class="text-sky-600"
      [routerLink]="['', 'auth', 'sign-up']">daftar disini</a>
  </span>
</div>

