
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sistem-pakar-pbd-primary: mat.define-palette(mat.$indigo-palette);
$sistem-pakar-pbd-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sistem-pakar-pbd-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sistem-pakar-pbd-theme: mat.define-light-theme((
  color: (
    primary: $sistem-pakar-pbd-primary,
    accent: $sistem-pakar-pbd-accent,
    warn: $sistem-pakar-pbd-warn,
  )
));

$my-custom-typography-config: mat.define-typography-config(
  $display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 40px, 400),
  $headline:  mat.define-typography-level(24px, 32px, 400),
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sistem-pakar-pbd-theme);

/* You can add global styles to this file, and also import other style files */
::ng-deep .mat-grid-tile {
  overflow: visible !important;

}


html, body { height: 100%; min-height: 100vh;}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}


.bg-accent {
  background-color: #ff4081;
}
.color-accent {
  color: #ff4081;
}

.auth-input {
  @apply 
      bg-gray-200 
      appearance-none 
      rounded 
      w-full py-2 px-4 
      text-gray-700 
      leading-tight 
      shadow-[inset_0_2px_4px_0_rgba(0,0,0,0.2)]
      focus:outline-none 
      focus:border-[#ff4081]
      #{!important}
}

.round-input {
  @apply  mx-4
          bg-white
          border
          mat-elevation-z1
          rounded-full
          block
          text-sm
          border-transparent 
          placeholder:text-sm placeholder:pb-2
          #{!important}

}


.center {
  @apply top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] #{!important}
}

@layer components {

  .circle-avatar {
    @apply inline-block h-6 w-6 rounded-full ring-2 ring-white #{!important}
  }

  .btn-pink {
    @apply bg-pink-500 text-white #{!important};
  }
}
